*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body
{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(back.jpg);
}

ul
{
	float: right;
	list-style-type: none;
}

ul li
{
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}

ul li a
{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover
{
	background-color: #fff;
	color: #000;
}

.logo img
{
	float: left;
	width: 150px;
	height: auto;
}

ul li.active a
{
	background-color: #fff;
	color: #000;
}

.title
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.title h1
{
	color: #fff;
	font-size: 70px;
}

.button
{
	position: absolute;
	left: 50%;
	top: 62%;
	transform: translate(-50%,-50%);
}

.button a
{
	padding: 10px 30px;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
	transition: 0.6s ease;
}

.button a:hover
{
	background-color: #fff;
	color: #000;
}
